.department-page {
  text-align: center;
  margin-top: 25px;
}

.employee-table {
  color: #000000;
  background-color: #ffffff;
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: #ffffff;
  padding: 20px;
  width: 600px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.popup h2 {
  margin-top: 0;
}

.popup form {
  display: grid;
  gap: 10px;
}

.popup label {
  font-weight: bold;
}

.popup .form-row {
  display: flex;
  align-items: center;
  gap: 10px; /* Add a gap of 10px between the input boxes */
}

.popup .form-column {
  flex: 1;
}

.popup input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.popup button[type="submit"] {
  padding: 8px 12px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.popup button[type="submit"]:hover {
  background-color: #0056b3;
}

.add-employee-container {
  padding: auto;
  align-items: center;
}

.add-employee-button {
  padding: 6px 12px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
